body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 1.25rem; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
}

#hero {
    background: url('/images/fitness-bg.jpg') no-repeat center center/cover;
    color: #fff;
    padding: 5em 1em;
    text-align: center;
    font-size: 1.5rem; 
}

#hero .btn {
    background-color: #f80;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    margin-top: 2em;
    font-size: 1rem; 
}

.product-grid {
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.product {
    text-align: center;
    font-size: 0.875rem; 
}

footer {
    text-align: center;
    padding: 1em;
    background: #333;
    color: #fff;
    font-size: 0.875rem; 
}

.sidebar {
    background-color: #45484b; 
    color: #ffffff;
}

.sidebar .nav-link {
    color: #ffffff; 
}

.sidebar .nav-link.active {
    background-color: #495057; 
}

.sidebar .nav-item:hover .nav-link {
    background-color: #495057;
}
.iframe-container {
    width: 100%; /* Asegura que el contenedor ocupa todo el ancho */
    height: 80vh; /* Altura basada en el 75% de la altura de la ventana del visor */
    overflow: hidden; /* Evita el desbordamiento no deseado */
}

iframe {
    width: 100%; /* Asegura que el iframe ocupe todo el ancho del contenedor */
    height: 100%; /* Asegura que el iframe ocupe toda la altura del contenedor */
    border: none; /* Elimina el borde por defecto de los iframes */
}
